# About Dataset

This dataset contains information on a business's Amazon sales in India. It consists of seven files, with "Amazon Sale Report.csv" serving as the main file due to its contextual relevance and the large volume of data it contains. The SKU column allows this file to be linked to two other files: "International Sale Report.csv" and "Sale Report.csv." The "International Sale Report.csv" file is presumed to capture sales to customers outside of India, while "Sale Report.csv" provides additional product details for the SKUs found in the first two files.

# Import Data

In [1]:
import pandas as pd
import numpy as np
salesDf = pd.read_csv('C:/Users/siche/Desktop/projects/e_commerce/Row Data/Amazon_Sale_Report.csv', low_memory=False)
intSalesDf = pd.read_csv('C:/Users/siche/Desktop/projects/e_commerce/Row Data/International sale Report.csv', low_memory=False)
productsDf = pd.read_csv('C:/Users/siche/Desktop/projects/e_commerce/Row Data/Sale Report.csv', low_memory=False)

# Clean Local Sales Data

In [2]:

#print("Data at a glance:\n", df.head(), "\n")
print("Data is from " + salesDf.Date.min() + " to " + salesDf.Date.max(), "\n")

print("Rows:", salesDf.shape[0])
print("Columns:", salesDf.shape[1])
print(salesDf.columns.tolist(), "\n")

print("Percentage of missing or null values in each column: ")
print(((salesDf.isna().sum() / len(salesDf)) * 100).round(2))

Data is from 03-31-22 to 06-29-22

Rows: 128975
Columns: 24
['index', 'Order ID', 'Date', 'Status', 'Fulfilment', 'Sales Channel ', 'ship-service-level', 'Style', 'SKU', 'Category', 'Size', 'ASIN', 'Courier Status', 'Qty', 'currency', 'Amount', 'ship-city', 'ship-state', 'ship-postal-code', 'ship-country', 'promotion-ids', 'B2B', 'fulfilled-by', 'Unnamed: 22']

Percentage of missing or null values in each column:
index                  0.00
Order ID               0.00
Date                   0.00
Status                 0.00
Fulfilment             0.00
Sales Channel          0.00
ship-service-level     0.00
Style                  0.00
SKU                    0.00
Category               0.00
Size                   0.00
ASIN                   0.00
Courier Status         5.33
Qty                    0.00
currency               6.04
Amount                 6.04
ship-city              0.03
ship-state             0.03
ship-postal-code       0.03
ship-country           0.03
promotion-ids         38.11
B2B                    0.00
fulfilled-by          69.55
Unnamed: 22           38.03
dtype: float64

In [3]:
salesDf.apply(pd.unique)

index                 [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,...
Order ID              [405-8078784-5731545, 171-9198151-1101146, 404...
Date                  [04-30-22, 04-29-22, 04-28-22, 04-27-22, 04-26...
Status                [Cancelled, Shipped - Delivered to Buyer, Ship...
Fulfilment                                           [Merchant, Amazon]
Sales Channel                                   [Amazon.in, Non-Amazon]
ship-service-level                                [Standard, Expedited]
Style                 [SET389, JNE3781, JNE3371, J0341, JNE3671, SET...
SKU                   [SET389-KR-NP-S, JNE3781-KR-XXXL, JNE3371-KR-X...
Category              [Set, kurta, Western Dress, Top, Ethnic Dress,...
Size                   [S, 3XL, XL, L, XXL, XS, 6XL, M, 4XL, 5XL, Free]
ASIN                  [B09KXVBD7Z, B09K3WFS32, B07WV4JV4D, B099NRCT7...
Courier Status                     [nan, Shipped, Cancelled, Unshipped]
Qty                                    [0, 1, 2, 15, 3, 9, 13, 5, 4, 8]
currency                                                     [INR, nan]
Amount                [647.62, 406.0, 329.0, 753.33, 574.0, 824.0, 6...
ship-city             [MUMBAI, BENGALURU, NAVI MUMBAI, PUDUCHERRY, C...
ship-state            [MAHARASHTRA, KARNATAKA, PUDUCHERRY, TAMIL NAD...
ship-postal-code      [400081.0, 560085.0, 410210.0, 605008.0, 60007...
ship-country                                                  [IN, nan]
promotion-ids         [nan, Amazon PLCC Free-Financing Universal Mer...
B2B                                                       [False, True]
fulfilled-by                                           [Easy Ship, nan]
Unnamed: 22                                                [nan, False]
dtype: object

The column 'Unnamed: 22' will be removed due to a lack of context regarding its meaning.

The 'Currency' column contains either INR or NaN, which is unnecessary since this is a domestic dataset, and all transactions are in INR. Similarly, 'ship-country' is always IN or NaN, making it redundant in the context of domestic sales. The 'Sales Channel' column consistently shows Amazon.in or NaN, so it too is not essential. The 'Fulfilled-by' column always lists Easy Ship or NaN, and as this is the standard fulfillment method for the dataset, it can be removed as well.

Further clarification is needed to distinguish between "Status" and "Courier Status." It is possible that one reflects Amazon's status and the other represents the courier's status. Additional context would help clarify this distinction.

In [4]:
salesDf.columns = salesDf.columns.str.strip()

salesDf = salesDf.drop('Unnamed: 22', axis=1)
salesDf = salesDf.drop('index', axis=1)
salesDf = salesDf.drop('ship-country', axis=1)
salesDf = salesDf.drop('currency', axis=1)
salesDf = salesDf.drop('fulfilled-by', axis=1)
salesDf = salesDf.drop('promotion-ids', axis=1)
salesDf = salesDf.drop('Sales Channel', axis=1)

pd.set_option('display.max_columns', None)
salesDf['Date'] = pd.to_datetime(salesDf['Date'])
salesDf.head()

C:\Users\siche\AppData\Local\Temp\ipykernel_18408\1000369906.py:12: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  salesDf['Date'] = pd.to_datetime(salesDf['Date'])

,Order ID,Date,Status,Fulfilment,ship-service-level,Style,SKU,Category,Size,ASIN,Courier Status,Qty,Amount,ship-city,ship-state,ship-postal-code,B2B
0,405-8078784-5731545,2022-04-30,Cancelled,Merchant,Standard,SET389,SET389-KR-NP-S,Set,S,B09KXVBD7Z,NaN,0,647.62,MUMBAI,MAHARASHTRA,400081.0,False
1,171-9198151-1101146,2022-04-30,Shipped - Delivered to Buyer,Merchant,Standard,JNE3781,JNE3781-KR-XXXL,kurta,3XL,B09K3WFS32,Shipped,1,406.00,BENGALURU,KARNATAKA,560085.0,False
2,404-0687676-7273146,2022-04-30,Shipped,Amazon,Expedited,JNE3371,JNE3371-KR-XL,kurta,XL,B07WV4JV4D,Shipped,1,329.00,NAVI MUMBAI,MAHARASHTRA,410210.0,True
3,403-9615377-8133951,2022-04-30,Cancelled,Merchant,Standard,J0341,J0341-DR-L,Western Dress,L,B099NRCT7B,NaN,0,753.33,PUDUCHERRY,PUDUCHERRY,605008.0,False
4,407-1069790-7240320,2022-04-30,Shipped,Amazon,Expedited,JNE3671,JNE3671-TU-XXXL,Top,3XL,B098714BZP,Shipped,1,574.00,CHENNAI,TAMIL NADU,600073.0,False

# Clean International Sales Data

The file appears to consist of four distinct sheets. Sheet 1 spans rows 0 to 18,634 and contains the following columns: index, date, months, customer, style, SKU, size, pcs (pieces), rate, and gross amount. Sheet 2 covers rows 18,635 to 18,659 and contains only the SKU column. Sheet 3 spans rows 18,635 to 19,673 and includes columns for style and stock. Sheet 4 covers rows 19,674 to 37,430 and includes columns: index, date, months, style, SKU, pcs (pieces), rate, gross amount, and stock.

Sheets 1 and 4 will be combined since they are almost identical, differing by only one column. Sheet 2 does not add value and will be removed. While Sheet 3 provides some inventory information for styles, the absence of a date makes this data less useful.

In [5]:
intSalesDf = intSalesDf.drop('index', axis=1)

df1 = intSalesDf.iloc[0:18635]
SKUSeries = intSalesDf.iloc[18636:18659]
SKUSeries = SKUSeries[['DATE']]
SKUSeries.columns = ['SKU']
intSalesStockDf = intSalesDf.iloc[18661:19675]
intSalesStockDf = intSalesStockDf[['DATE', 'Months']]
intSalesStockDf.columns = ['Style', 'Stock']
df4 = intSalesDf.iloc[19676:37432]
df4.columns = ['CUSTOMER', 'DATE', 'Months', 'Style', 'SKU', 'PCS', 'RATE', 'GROSS AMT', 'Stock']

In [6]:
intSalesDf = pd.concat([df1, df4])
intSalesDf.reset_index(drop=True, inplace=True)
intSalesDf.head()

,DATE,Months,CUSTOMER,Style,SKU,Size,PCS,RATE,GROSS AMT,Stock
0,06-05-21,Jun-21,REVATHY LOGANATHAN,MEN5004,MEN5004-KR-L,L,1.00,616.56,617.00,NaN
1,06-05-21,Jun-21,REVATHY LOGANATHAN,MEN5004,MEN5004-KR-XL,XL,1.00,616.56,617.00,NaN
2,06-05-21,Jun-21,REVATHY LOGANATHAN,MEN5004,MEN5004-KR-XXL,XXL,1.00,616.56,617.00,NaN
3,06-05-21,Jun-21,REVATHY LOGANATHAN,MEN5009,MEN5009-KR-L,L,1.00,616.56,617.00,NaN
4,06-05-21,Jun-21,REVATHY LOGANATHAN,MEN5011,MEN5011-KR-L,L,1.00,616.56,617.00,NaN

In [7]:
intSalesDf = intSalesDf[intSalesDf['DATE'].apply(lambda x: isinstance(x, str))]
intSalesDf['DATE'] = pd.to_datetime(intSalesDf['DATE'], errors='coerce')
print("Data is from " + intSalesDf['DATE'].min().strftime('%Y-%m-%d') + " to " + intSalesDf['DATE'].max().strftime('%Y-%m-%d'))

print("Rows:", intSalesDf.shape[0])
columns_list = intSalesDf.columns.tolist()
print("Columns:", len(columns_list))
print(columns_list, "\n")

print("Percentage of missing or null values in each column: ")
print(((intSalesDf.isna().sum() / len(intSalesDf)) * 100).round(2))

Data is from 2021-06-05 to 2022-05-11
Rows: 36391
Columns: 10
['DATE', 'Months', 'CUSTOMER', 'Style', 'SKU', 'Size', 'PCS', 'RATE', 'GROSS AMT', 'Stock']

Percentage of missing or null values in each column:
DATE          0.00
Months        0.00
CUSTOMER      0.00
Style         0.00
SKU           3.94
Size         48.79
PCS           0.00
RATE          0.00
GROSS AMT     0.00
Stock        51.21
dtype: float64

C:\Users\siche\AppData\Local\Temp\ipykernel_18408\3126328267.py:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  intSalesDf['DATE'] = pd.to_datetime(intSalesDf['DATE'], errors='coerce')

In [8]:
intSalesDf.apply(pd.unique)
intSalesDf.head()

,DATE,Months,CUSTOMER,Style,SKU,Size,PCS,RATE,GROSS AMT,Stock
0,2021-06-05,Jun-21,REVATHY LOGANATHAN,MEN5004,MEN5004-KR-L,L,1.00,616.56,617.00,NaN
1,2021-06-05,Jun-21,REVATHY LOGANATHAN,MEN5004,MEN5004-KR-XL,XL,1.00,616.56,617.00,NaN
2,2021-06-05,Jun-21,REVATHY LOGANATHAN,MEN5004,MEN5004-KR-XXL,XXL,1.00,616.56,617.00,NaN
3,2021-06-05,Jun-21,REVATHY LOGANATHAN,MEN5009,MEN5009-KR-L,L,1.00,616.56,617.00,NaN
4,2021-06-05,Jun-21,REVATHY LOGANATHAN,MEN5011,MEN5011-KR-L,L,1.00,616.56,617.00,NaN

# Clean Product Inforamtion Data

In [9]:
print("Rows:", productsDf.shape[0])
columns_list = productsDf.columns.tolist()
print("Columns:", len(columns_list))
print(columns_list, "\n")

print("Percentage of missing or null values in each column: ")
print(((productsDf.isna().sum() / len(productsDf)) * 100).round(2))

Rows: 9271
Columns: 7
['index', 'SKU Code', 'Design No.', 'Stock', 'Category', 'Size', 'Color']

Percentage of missing or null values in each column:
index         0.00
SKU Code      0.90
Design No.    0.39
Stock         0.39
Category      0.49
Size          0.39
Color         0.49
dtype: float64

In [10]:
productsDf.apply(pd.unique)

index         [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,...
SKU Code      [AN201-RED-L, AN201-RED-M, AN201-RED-S, AN201-...
Design No.    [AN201, AN202, AN203, AN204, AN205, AN206, AN2...
Stock         [5.0, 3.0, 6.0, 11.0, 16.0, 8.0, 14.0, 1.0, 2....
Category      [AN : LEGGINGS, BLOUSE, PANT, BOTTOM, PALAZZO,...
Size          [L, M, S, XL, XXL, FREE, XS, XXXL, 4XL, 5XL, 6...
Color         [Red, Orange, Maroon, Purple, Yellow, Green, P...
dtype: object

After row 9234, all rows will be removed as they are empty and do not contribute any meaningful data. Several columns will be renamed for consistency across files: 'Design No.' will be changed to 'Style' to match the India Sales File, and 'SKU Code' will be renamed to 'SKU' to align with the other two files. Unfortunately, the absence of date information in the dataset limits the usefulness of the 'Stock' column, as without a temporal context, it becomes challenging to track inventory changes or analyze stock levels effectively.

In [11]:
productsDf = productsDf.drop('index', axis=1)
productsDf.rename(columns={'SKU Code': 'SKU'}, inplace=True)
productsDf.rename(columns={'Design No.': 'Style'}, inplace=True)
productsDf = productsDf.iloc[0:9235]
productsDf.head()

             SKU  Style  Stock       Category Size Color
0    AN201-RED-L  AN201    5.0  AN : LEGGINGS    L   Red
1    AN201-RED-M  AN201    5.0  AN : LEGGINGS    M   Red
2    AN201-RED-S  AN201    3.0  AN : LEGGINGS    S   Red
3   AN201-RED-XL  AN201    6.0  AN : LEGGINGS   XL   Red
4  AN201-RED-XXL  AN201    3.0  AN : LEGGINGS  XXL   Red

# Export Data

In [12]:
productsDf.to_csv('products.csv',index=False)
intSalesDf.to_csv('international_sales.csv',index=False)
salesDf.to_csv('local_sales.csv',index=False)

In [13]:
import os
print(os.getcwd())

C:\Users\siche\Desktop\projects\e_commerce\Notebook

In [14]:
print(intSalesDf.dtypes)

DATE         datetime64[ns]
Months               object
CUSTOMER             object
Style                object
SKU                  object
Size                 object
PCS                  object
RATE                 object
GROSS AMT            object
Stock                object
dtype: object